[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "blog/themes/mainroad"]
	path = blog/themes/mainroad
	url = https://github.com/vimux/mainroad.git
